{% extends 'global/layout.html.twig' %}
{% set menu = 'dashboard' %}
{% set titlePage = "page.dashboard.title"|trans %}

{% block content %}
<div class="mt-5 text-center mb-5">
<img src="{{ asset('build/images/logoGB.png') }}" width="250" height="250" alt="Gruas Berbel SRL"
             title="Gruas Berbel SRL">
</div>
{% endblock %}